.board-filter {
    display: flex;
    position: relative;

    > * {
        @include btn;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            background-color: transparent;
            padding: 0;
            padding-right: 10px;
            font-family: roboto-regular;
            font-size: rem(14px);
            color: $layout-black;
            cursor: pointer;
        }

        svg {
            fill: $layout-black;
        }

        &:not(.regular-modal) {
            &:hover {
                background-color: $brdr-clr;
            }
        }
    }

    .add-new-btns {
        background-color: $primary-blue;
        cursor: pointer;
        margin-right: 14px;

        button {
            color: white;
            padding: 0;
            height: 100%;
            width: 75px;
            border-radius: 0.2em;

            &:hover {
                background-color: (darken($primary-blue, 8%));
            }
        }

        .add-new-group-btn {
            height: 100%;
            border-top-right-radius: 0.2em;
            border-bottom-right-radius: 0.2em;
            width: 28px;
            border-left: 1px solid (darken($primary-blue, 8%));

            &:hover {
                background-color: (darken($primary-blue, 8%));
            }
        }

        svg {
            fill: white;
        }

        &:hover {
            background-color: ($primary-blue);
        }
    }

    .search-tasks {
        position: relative;
        cursor: pointer;
        margin-right: 7px;

        &.input-open {
            outline: 1px solid $primary-blue;
        }

        &.filtering {
            background-color: $fltr-bgc;
        }

        .cancel {
            position: absolute;
            right: 8px;

            svg {
                fill: $primary-blue;
                scale: 0.8;
            }
        }

        input {
            &::placeholder {
                color: $layout-black;
            }

            background-color: transparent;
            width: 60px;
            transition: width 0.4s;
            height: 100%;
            cursor: pointer;

            &.open {
                width: 190px;
                cursor: text;
            }
        }

        svg {
            margin-left: 5px;
        }
    }

    .person-attach {
        position: relative;
        margin-right: 14px;

        .title-modal {
            width: 135px;
        }

        button {
            padding-left: 4px;
        }

        cursor: pointer;

        svg {
            margin-left: 5px;
        }
    }

    .filter {
        cursor: pointer;
        margin-right: 16px;

        button {
            padding-left: 2px;
        }
    }

    .sort {
        cursor: pointer;
    }

    .search-tasks {
        position: relative;
        cursor: pointer;

        &.input-open {
            outline: 1px solid $primary-blue;
        }

        &.filtering {
            background-color: $fltr-bgc;
        }

        .cancel {
            position: absolute;
            right: 8px;

            svg {
                fill: $primary-blue;
                scale: 0.8;
            }
        }

        input {
            &::placeholder {
                color: $layout-black;
            }

            background-color: transparent;
            width: 60px;
            transition: width 0.4s;
            height: 100%;
            cursor: pointer;

            &.open {
                width: 190px;
                cursor: text;
            }
        }

        svg {
            margin-left: 5px;
        }
    }

    @include for-mobile-layout{
        display: block;
    }
}
