.group-list-container{
    overflow-y: auto;
    overflow-x: auto;
    max-height: calc(100vh - 180px);
    width: 100%;

    .add-group-list-btn {
        border-radius: 4px;
        border: 1px solid rgb(195, 198, 212);
        padding: 4px 8px;
        width: 143.5px;
        height: 32px;
        color: $layout-black;
        font-size: rem(14px);
        margin: 36px 0 76px 36px;
        background-color: transparent;
        position: sticky;
        left: 36px;

        svg {
            margin-right: 8px;
        }
    
        &:hover {
            background-color: $modal-hover-clr;
        }
    }

    @include for-mobile-layout{
        max-height: calc(100vh - 100px);
    }

}

