.triangle-modal {
    position: absolute;
    min-width: 152px;
    padding: 10px 14px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    background-color: white;
    border-radius: 5px;
    left: 50%;
    transform: translateX(-50%);
    top: 36px;
    z-index: 100000;



    .timeline-modal {

        display: flex;
        gap: 12px;

    }

    .task-label-modal {
        position: relative;
        display: grid;
        grid-template-columns: 152px;
        grid-template-rows: repeat(5, 40px) 1fr;
        grid-auto-flow: row;
        margin: 0;
        justify-content: center;
        column-gap: 16px;
        padding-top: 4px;

        .color-box {
            display: flex;
            align-items: center;
            position: relative;
            cursor: pointer;
            height: 32px;
            margin-top: 8px;




            &:hover .label {
                opacity: .9;
            }

            .regular-modal {
                z-index: 5000000;
            }

            .change-color {
                display: inline-block;
                width: 24px;
                height: 24px;
                color: $clr-white;

                &:hover {
                    opacity: .7;
                }
            }

            .label {
                display: block;
                width: 100%;
                height: 32px;

                &:hover {
                    opacity: .9;
                }

                &.on-edit {
                    width: 24px;
                    height: 24px;
                    border-radius: 4px;
                    margin-inline: 8px;
                    position: relative;
                    z-index: 500;
                }
            }

            .name {
                position: absolute;
                top: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: rem(14px);
                color: white;
                width: 100%;
                height: 100%;


                &.on-edit {
                    color: $layout-black;
                    border: 1px solid $hr-clr;
                    border-radius: 4px;
                    justify-content: left;
                    padding-left: 52px;
                }
            }


        }

        .label-btn {
            // margin-block: 8px;
            border-top: 1px solid $brdr-clr;
            // cursor: pointer;

            span {
                margin-right: 8px;
            }

            div {
                margin-top: 8px;
                height: 32px;
                width: 100%;
                border-radius: 4px;
                cursor: pointer;

                &:hover {
                    background-color: $modal-hover-clr;
                }
            }
        }
    }

    .color-picker {
        display: grid;

        grid-template-columns: repeat(5, 1fr);
        gap: 4px;

        .color {
            display: inline-block;
            width: 20px;
            height: 20px;
            border: 2px white soild;
            border-radius: 4px;
        }

    }

    .link-modal {
        width: 222px;
        padding: 6px 2px;

        label {
            font-size: rem(16px);
        }

        input {
            height: 40px;
            margin-top: 16px;
            width: 100%;
            margin-bottom: 24px;
            border: 1px solid rgb(195, 198, 212);
            padding: 0 16px;
            line-height: rem(21px);
        }
    }

    .persons-modal {
        display: flex;
        flex-wrap: wrap;
        width: 326px;
        padding: 8px;

        .search-filter-persons {
            outline: 1px solid $primary-blue;
            width: 100%;
            height: 30px;
            border-radius: .3em;
            text-align: left;
            padding-left: 8px;
            margin-top: 8px;
        }

        img {
            width: 26px;
            height: 26px;
        }

        .active-persons {
            display: flex;
            // flex-grow: 1;
            margin-right: 10px;
            margin-bottom: 10px;
            font-size: rem(12px);

            .person {
                display: flex;
                align-items: center;
                background-color: lighten($btn-active, 4%);
                border-radius: 2em;

                span {
                    width: 22px;
                    height: 22px;
                    border: none;
                }

                p {
                    margin-left: 10px;
                    margin-top: 2px;
                    padding: 0;
                }

                .remove-person-btn {
                    cursor: pointer;
                    scale: 0.8;
                }
            }
        }

        >*:last-child {
            margin: 0;
        }

        .suggested-persons {
            color: $layout-gray;
            flex-basis: 100%;
            text-align: left;
            padding-top: 16px;
            padding-bottom: 4px;
        }

        .not-active-persons {
            display: flex;
            flex-direction: column;
            width: 100%;

            .not-active-person {
                display: flex;
                width: 100%;

                >* {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    margin-top: 6px;
                    padding: 4px;
                    border-radius: 0.4em;
                    cursor: pointer;

                    img{
                        border-radius: 2em;
                    }

                    &:hover {
                        background-color: $brdr-clr;
                    }

                    p {
                        padding-left: 8px;
                    }
                }
            }
        }
    }

    .date-picker {

        * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        body {
            background: #ededed;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding-left: 0;
        }

        h1 {
            font-size: 23px;
        }

        h2 {
            font-size: 17px;
        }

        p {
            font-size: 15px;
        }

        a {
            text-decoration: none;
            font-size: 15px;
        }

        h1,
        h2,
        p,
        a,
        span {
            color: #263859;
        }

        .icon {
            font-size: 25px;
        }

        .arrow-btn-container {
            position: relative;
        }

        .arrow-btn {
            position: absolute;
            display: block;
            height: 60px;
            -webkit-transition: background 0.3s;
            transition: background 0.3s;
            cursor: pointer;

            .icon {
                display: block;
                transition: 150ms;
                font-size: 22px;
                border-radius: 100%;
                line-height: 17px;
                margin: 8px auto;
                text-align: center;



                &:hover {
                    fill: white;
                }
            }
        }

        .arrow-btn.left {
            border-top-left-radius: 5px;
        }

        .arrow-btn.right {
            border-top-right-radius: 5px;
            right: 0;
            top: 0;
        }

        .calendar-month {
            .arrow-btn:hover {
                background: #222a37;
            }

            .arrow-btn:hover {
                background: #16417e;
            }
        }

        /*  CALENDAR STYLINGS*/
        .container {
            width: 300px;
            background: #fefefe;

            h2.titular {
                display: block;
                line-height: 60px;
                margin: 0;
                font-family: sans-serif;
                text-align: center;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }

            .calendar-month {
                height: 380px;

                .titular {
                    font: sans-serif;
                    color: #fafafa;
                    background: #6b778dd8;
                }

                .arrow-btn:hover {
                    background: #263859;

                    .icon {
                        color: #e0e0e0;
                        border-color: #e0e0e0;
                    }
                }
            }

            .calendar {
                margin: 10px auto;
                text-align: center;

                a {
                    font-size: 17px;
                }

                td,
                th {
                    width: 40px;
                    transition: 100ms;
                    height: 38px;
                }

                td {
                    &:hover {
                        border: 1px solid #263859;
                        background: #d3def3;
                        border-radius: 50%;
                    }
                }

                .days-week {
                    color: #222a37;
                    font-family: sans-serif;
                }

                .selectedDay {
                    a {
                        color: #fafafa;
                    }

                    line-height: 34px;
                    background: #d9605aec;
                    border-radius: 50%;

                    &:hover {
                        background: #d9605aec;
                        border-radius: 50%;
                        border: none;
                    }
                }

                .disabledDay {
                    a {
                        color: #8c8d8f;
                    }

                    &:hover {
                        background: transparent;
                        border-radius: 0;
                        border: none;
                    }
                }
            }
        }
    }

    .el-popper{
        z-index:-1 !important;
    }
    .demo-date-picker {
        display: flex;
        width: 100%;
        padding: 0;
        flex-wrap: wrap;
    }

    .demo-date-picker .block {
        padding: 30px 0;
        text-align: center;
        border-right: solid 1px var(--el-border-color);
        flex: 1;
    }

    .demo-date-picker .block:last-child {
        border-right: none;
    }

    .demo-date-picker .demonstration {
        display: block;
        color: var(--el-text-color-secondary);
        font-size: 14px;
        margin-bottom: 20px;
    }
}

.top-bot {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent transparent;
    border-color: transparent transparent #fff transparent;
}