:root {
    --dark-grn: $clr-dark-grn;
    --teal: $clr-teal;
    --lgt-grn: $clr-lgt-grn;
    --mstrd: $clr-mstrd;
    --yllw: $clr-yllw;
    --drk-prpl: $clr-drk-prpl;
    --lgt-prpl: $clr-lgt-prpl;
    --dark-blue: $clr-dark-blue;
    --lgt-blue: $clr-lgt-blue;
    --brdx: $clr-brdx;
    --red: $clr-red;
    --fcci: $clr-fcci;
    --pink: $clr-pink;
    --dark-orange: $clr-drk-orn;
    --kgt-orng: $clr-kgt-orn;
    --brwn: $clr-brwn;
    --lgt-gry: $clr-explosive;
    --drk-gry: $clr-drk-gry;
    --dcd: #555;
}