@font-face {
    font-family: roboto-thin; //weight: 100
    src: url(/src/assets/fonts/Roboto/Roboto-Thin.ttf);
}

@font-face {
    font-family: roboto-light; //weight: 300
    src: url(/src/assets/fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: roboto-light-italic; //weight: 300
    src: url(/src/assets/fonts/Roboto/Roboto-LightItalic.ttf);
}

@font-face {
    font-family: roboto-regular; //weight: 400
    src: url(/src/assets/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto-italic; //weight: 400
    src: url(/src/assets/fonts/Roboto/Roboto-Italc.ttf);
}

@font-face {
    font-family: roboto-medium; //weight: 500
    src: url(/src/assets/fonts/Roboto/Roboto-medium.ttf);
}

@font-face {
    font-family: roboto-medium-italic; //weight: 500
    src: url(/src/assets/fonts/Roboto/Roboto-MediumItalic.ttf);
}


@font-face {
    font-family: roboto-bold; //weight: 700
    src: url(/src/assets/fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: roboto-bold-italic; //weight: 700
    src: url(/src/assets/fonts/Roboto/Roboto-BoldItalic.ttf);
}

@font-face {
    font-family: roboto-black; //weight: 900
    src: url(/src/assets/fonts/Roboto/Roboto-Black.ttf);
}

@font-face {
    font-family: roboto-black-italic; //weight: 900
    src: url(/src/assets/fonts/Roboto/Roboto-BlackItalic.ttf);
}

@font-face {
    font-family: poppins-regular;
    src: url(/src/assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppins-light;
    src: url(/src/assets/fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: poppins-bold;
    src: url(/src/assets/fonts/Poppins/Poppins-Bold.ttf);
}